
<!DOCTYPE html>
<html>
<head>
  <title>Sunscreen Checker</title>
</head>
<body>
  <h1>Welcome do you need sunscreen today?</h1>
  <form action="/check-sunscreen" method="POST">
    <label>Latitude: <input type="text" name="latitude" required></label><br>
    <label>Longitude: <input type="text" name="longitude" required></label><br>
    <button type="submit">Check UV Index</button>
  </form>
</body>
</html>


